*{ margin: 0%;padding: 0%;} 

html {font-size: 62,5%;}

header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #6193f8;}
    
    

    header ul{
        display: flex;
        
    }

    li{
        list-style-type: none;
        margin: 00.5rem;
    }


    img{border-radius: 50%;}

    a{text-decoration: none;
      background-color: white;
      padding: 0.1rem;
      border-radius: 0.2rem;}

    a:hover{background-color: darkslategray;
            color: white;
    }  

    .titledecoration {
        font-size: 20rem;
        font-family: ;
    }

    footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6193f8;
    vertical-align: middle;
    }